<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.afop">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AFOP">
        <activity android:name=".ui.activity.MarketActivity" />
        <activity android:name=".ui.activity.MarketActivity"
            tools:ignore="DuplicateActivity" />
        <activity android:name=".ui.activity.ResetPasswordActivity" />
        <activity
            android:name=".ui.activity.RegisterActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.activity.LoginActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.activity.MainActivity"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Firebase 관련 Service -->
        <service
            android:name=".service.CustomFirebaseMessagingService"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service> <!-- 앱 종료 및 태스크에서 제거되었을 때 관련 Service -->
        <service
            android:name=".service.ForcedTerminationService"
            android:stopWithTask="false" />
    </application>

</manifest>